<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/style.css">
    {% if not error %}
        <script src='/socket.io/socket.io.js'></script>
    {% endif %}
</head>
<body>
    {% if error %}
        <h3 class="error"> {{ error }} </h3>
        <div class="login-page">
            <div class="form">
                <div style="margin-top: 18px;">
                    <form class="register" method="post" style="display: none;">
                        <input type="text" name="username" placeholder="username"/>
                        <input type="password" name="password" placeholder="password"/>
                        <button type="submit">create</button>
                        <p class="message">Already registered? <a href="#">Sign In</a></p>
                    </form>
                    <form class="login" method="post">
                        <input type="text" name="username" placeholder="username"/>
                        <input type="password" name="password" placeholder="password"/>
                        <button type="submit">login</button>
                        <p class="message">Not registered? <a href="#">Create an account</a></p>
                    </form>
                </div>
            </div>
        </div>
        <script src="/assets/js/unauth.js"></script>
    {% elif profile %}
    <div class="menu clearfix">
      <ul>
        <li><a id="titleLink" class="headLinks" href="#"><span id="name">Social Channel</span></a></li>
        <li><a id="profileLink" class="headLinks" href="/profile"><span id="name">{{ profile }}</span></a></li>
        <li><a id="chatLink" class="headLinks" href="/"><span>Chat</span></a></li>
        <li><a id="postLink" class="headLinks" href="/posts"><span>Posts</span></a></li>
        <li><div class="controls">
            <a href="#" class="logout-btn">Logout   <img src="https://img.icons8.com/ios/50/000000/exit.png"></a>
        </div></li>
      </ul>
    </div>
    <form class="content" method="post">
    <div class="container clearfix profile">
      <div class="profileHeader">
        <div class="row">
            <div class="col-sm-5">
              <div class="profileImage">
                <img src="http://www.radionetplus.ru/uploads/posts/2013-05/1369460621_panda-26.jpg" alt="avatar">
              </div>
            </div>
            <div class="col-sm-7">
              <div class="profileDesc">
                <div class="profileName">
                  <span name="username2"> {{ profile }} </span>
                  <input type="text" name="username" placeholder="My address is ..." value="{{ profile }}" style="display: none;" />
                </div><br>
                <div class="profileStatus">
                  <input type="text" name="status" placeholder="Something on my mind..." value="{{ status }}" />
                </div><br>
                <div class="btnWriteMessage">
                  <a href="#"><img src="https://img.icons8.com/ios/50/000000/new-post.png"> Message</a>
                </div>
              </div>
            </div>
        </div>
      </div><hr>

      <div class="profileContent">
        <div class="row">
          <div class="col-sm-3">
            Date of birth:
          </div>
          <div class="col-sm">
            <input class="inputField" type="date" name="birthday" value="{{ birthday }}" />
          </div>
        </div><br>

        <div class="row">
          <div class="col-sm-3">
            Address:
          </div>
          <div class="col-sm">
            <input class="inputField" type="text" name="address" placeholder="My address is ..." value="{{ address }}" />
          </div>
        </div><br>

        <div class="row">
          <div class="col-sm-3">
            Contact with me:
          </div>
          <div class="col-sm">
            <div class="contacts">
              <textarea class="inputField" name="contacts" placeholder ="Telephone: +380*********" rows="5">{{ contacts }}</textarea>
            </div>
          </div>
        </div><br>

        <div class="row">
          <div class="col-sm-3">
            About me:
          </div>
          <div class="col-sm">
            <div class="about">
              <textarea class="inputField" name="about" placeholder ="My dream is ..." rows="10">{{ about }}</textarea>
            </div>
          </div>
        </div><br>

        <div class="submitButton">
          <input class="btnSave" type="submit" name="submitChanges" value="Save">
        </div>
      </div>
    </form>
    </div>
    <script src="/assets/js/auth.js"></script>
    <script src="/assets/js/unauth.js"></script>
    {% else %}
      <div class="menu clearfix">
        <ul>
          <li><a id="titleLink" class="headLinks" href="#"><span id="name">Social Channel</span></a></li>
          <li><a id="profileLink" class="headLinks" href="/profile"><span id="name">{{ username }}</span></a></li>
          <li><a id="chatLink" class="headLinks" href="/"><span>Chat</span></a></li>
          <li><a id="postLink"class="headLinks"  href="/posts"><span>Posts</span></a></li>
          <li><div class="controls">
              <a href="#" class="logout-btn">Logout   <img src="https://img.icons8.com/ios/50/000000/exit.png"></a>
          </div></li>
        </ul>
      </div>
        <div class="container clearfix">

            <div class="chat">
                <div class="chat-header clearfix">
                    <div class="chat-about">
                        <div class="chat-num-users">
                          <span id="name">Hello, {{ username }}</span>
                        </div>
                    </div>
                </div>

                <div class="chat-history">
                    <ul>
                    </ul>
                </div>

                <div class="chat-message clearfix">
                    <textarea name="message" placeholder ="Type your message" rows="3"></textarea>
                    <button type="submit"><img src="https://img.icons8.com/ios-glyphs/30/000000/paper-plane.png">Send</button>
                </div>
            </div>
        </div>
        <script src="/assets/js/auth.js"></script>
    {% endif %}
</body>
</html>
